{% extends "fr/base.html.twig" %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Utilisateur</h1>
<form action="{{  get_path_of('userSave',{"lang":'fr' }) }}" method="post" data-action="ajax" >
    <input type="hidden" id="id" name="id" value="{{  user.id }}" >
    <input type="hidden" id="delete" name="delete" value="false" >
    <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input type="text" class="form-control" id="pseudo" value="{{ user.pseudo }}" placeholder="Entrez ici le pseudo de l'utilisateur">
    </div>
    <div class="row">
        <div class="col-sm-4 text-center "><a href="{{ get_path_of('users',{"lang":'fr'}) }}" role="button" class="btn btn-block btn-secondary  float-sm-left mt-5">Retour</a></div>
        <div class="col-sm-4 text-center">
            {%  if user.id > 0 %}
            <button type="button" class="btn btn-block btn-danger mt-5" data-action="delete">Supprimer</button>
        {% endif %}</div>
        <div class="col-sm-4 text-center"><button type="submit" class="btn btn-block btn-primary  float-sm-right mt-5">Valider</button></div>
    </div>
    </div>
</form>




{% endblock %}
