{% extends "fr_FR/base.html.twig" %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>{%  trans %}Liste des utilisateurs{%  endtrans %}</h1>
    <form method="post">
        <hr class="mb-5">
        <div class="row  d-none d-sm-flex">
            <div class="col-sm-6 col-md-8"><h5>{%  trans %}Pseudo{%  endtrans %}</h5></div>
            <div class="col-sm-3 col-md-2"><h5>{%  trans %}Sélectionné{%  endtrans %}</h5></div>
            <div class="col-sm-3 col-md-2 text-right"><h5>{% trans %}Edition{%  endtrans %}</h5></div>
        </div>

            {% for user in users %}
                <div class="row row-table">
                    <div class="col-4 d-sm-none  overflow-hidden">{% trans %}Pseudo :{%  endtrans %}</div>
                    <div class="col-8 col-sm-6 col-md-8 text-ellipsis overflow-hidden" title="{{ user.pseudo }}">{{ user.pseudo }}</div>
                    <div class="col-4 d-sm-none overflow-hidden">{%  trans %}Sélection :{%  endtrans %}</div>
                    <div class="col-8 col-sm-3 col-md-2">
                        <span class="d-sm-none"></span>
                        <label class="custom-control custom-checkbox">
                            <input type="radio" class="custom-control-input" name="user" value="{{ user.id }}">
                            <span class="custom-control-indicator"></span>
                        </label>
                    </div>
                    <div class="col-4 d-sm-none text-ellipsis overflow-hidden">{%  trans %}Edition :{%  endtrans %}</div>
                    <div class="col-8 col-sm-3 col-md-2">
                        <a href="{{  get_path_of('user',{"id":user.id,"name":user.pseudo|toPath }) }}" class="btn btn-secondary btn-sm float-sm-right"><i class="fa fa-pencil-square-o"
                                                                                     aria-hidden="true"></i></a></div>
                </div>


            {% endfor %}


        <div class="text-center"><a href="{{  get_path_of('user',{"id":0,"name":"user" }) }}" class="btn btn-primary  float-sm-right mt-5">{% trans %}Ajouter{%  endtrans %}</a></div>


    </form>



{% endblock %}
